.MainHeading h1.ui.header {
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 4rem;
    cursor: pointer;
}

.DeleteCategory, .DeleteItem, .EditCategory, .EditMenuItem {
    float: right;
}

.MenuContent {
    margin-top: 3rem;
}

.amplify-menu-trigger {
    position: fixed;
    top: 2rem;
    left: 2rem;
}

.ui.cards {
    margin: 1rem;
}

.floatingButton {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.backButton {
    cursor: pointer;
}
