.MainHeading h1.ui.header {
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 4rem;
    cursor: pointer;
}

.DeleteCategory, .DeleteItem, .EditCategory, .EditMenuItem, .orderButton {
    float: right;
}

.rtl .DeleteCategory, .rtl .DeleteItem, .rtl .EditCategory, .rtl .EditMenuItem, .rtl .orderButton {
    float: left;
}

.MenuItems {
    margin-top: 3rem;
}

.LoadingDisplay {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 100vh;
}

.amplify-menu-trigger {
    position: fixed;
    top: 2rem;
    left: 2rem;
    background-color: #fff;
}

.rtl .amplify-menu-trigger {
    left: auto;
    right: 2rem;
}

.ui.cards {
    margin: 1rem;
}

.floatingButton {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.rtl .floatingButton {
    right: auto;
    left: 2rem;
}

.backButton {
    cursor: pointer;
}

.rtl .ui.modal>.actions {
    text-align: left;
}

.rtl .ui.modal, .rtl .ui.card>.extra.content {
    text-align: right;
}

.content .react-colorful {
    width: auto;
}

.ui.button.colorButton {
    border: var(--amplify-colors-border-primary) 1px solid;
    margin-left: 0.5rem;
    margin-right: 0.25rem;
}

.header, a {
    color: inherit !important;
}
